<app-page-search [isVendorSearchAvailable]="true"
                 (applySearch)="getFavoritesWrapper($event)"></app-page-search>

<div class="favorites-container"
     infiniteScroll
     [infiniteScrollDistance]="1"
     [infiniteScrollThrottle]="100"
     (scrolled)="onScrollDown($event)">
   <div *ngFor="let card of favoriteCards">
      <app-favorite-card *ngIf="card.isFavorite"
                     [favoriteInfo]="card"
                     (click)="openDiscountDetailModal(card)"
                     (updateCardsAfterDelete)="getFavoritesAfterDelete()"></app-favorite-card>
   </div>
  
</div>
