<app-page-search [isDateRangeSearchAvailable]="true"
                 (applySearch)="getStatisticsWrapper($event)"
                 (applyExport)="exportStatistics($event)"></app-page-search>

<div infiniteScroll
     [infiniteScrollDistance]="1"
     [infiniteScrollThrottle]="100"
     (scrolled)="onScrollDown($event)">
     <mat-grid-list [cols]="breakpoint" rowHeight="11rem" gutterSize="1rem">
      <mat-grid-tile *ngFor="let item of statistics">
        <app-discount-card class="card-statistics"
                           [discount]="item"
                           [isViewCountsVisible]="true"
                           (click)="openDiscountDetails(item)"
                           (window:resize)="onResize($event)"></app-discount-card>
      </mat-grid-tile>
    </mat-grid-list>
</div>
