@import "../../../../styles.scss";

.users-list {
  display: grid;
  grid-template-rows: repeat(3, minmax(9rem, 4fr));
  grid-template-columns: repeat(3, minmax(10rem, 1fr));
  column-gap: 1rem;
  row-gap: 1rem;
  padding: 1rem 0;
}

.search-container .search {
  @include filters;
}
