.example-additional-selection {
    opacity: 0.75;
    font-size: 0.75em;
  }
mat-form-field{
    width: 100%;
  }
.mat-form-field-wrapper{
  padding-bottom: 0;
}
.mat-form-field-underline{
  bottom: 0.2rem;
}
.mat-form-field-appearance-fill .mat-form-field-flex{
  background-color: transparent;
}