@import "../../../../styles";

.type-event-field {
  max-width: fit-content;
  font-size: .8rem;
  height: 1.2rem;
  line-height: 1.2rem;
  border-radius: .7rem;
  padding: 0 .8rem 0 .5rem;
  margin: 0 .2rem;
  font-weight: 500;
  display: flex;
  align-items: center;
  text-transform: capitalize;

  .type-event-dot {
    width: .4rem;
    height: .4rem;
    border-radius: 50%;
    margin-right: $margin-small;
  }
}

.discount {
  background-color: #CDFFCD;
  color: #007F00;

  .type-event-dot {
    background-color: #007F00;
  }
}

.vendor {
  background-color: #FFECCC;
  color: #CE8500;

  .type-event-dot {
    background-color: #CE8500;
  }
}


@media screen and (max-width: 768px) {
  .type-event-field {
    font-size: .6rem;
    padding: 0 .6rem 0 .4rem;

    .type-event-dot {
      width: 0.3rem;
      height: 0.3rem;
      border-radius: 50%;
      margin-right: .2rem;
    }
  }
}

@media screen and (max-width: 440px) {
  .type-event-field {
    padding: 0 .4rem 0 .2rem;
  }
}
