$height-background-triangle: 3.8rem;
$font-vendor: 1.5rem;
$font-title: 1.3rem;
$font-content: 0.9rem;
$margin-1: 1rem;
$margin-half: 0.5rem;
$margin-small: 0.35rem;

.sidenav-background {
  height: $height-background-triangle;
  background: url("../../../../assets/img/background/2.png") no-repeat center;
  background-size: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 $margin-1;

  .sidenav-title {
    color: #ffffff;
    font-size: $font-vendor;
    font-weight: bold;
    line-height: $height-background-triangle;
  }

  .sidenav-favorite {
    line-height: $height-background-triangle;
    font-size: $font-vendor*2;
  }
}

.sidenav-info {
  padding: 1rem;

  .sidenav-service {
    font-size: $font-title;
    font-weight: bold;
    margin-bottom: $margin-half;
  }

  .category-and-tags {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-bottom: $margin-half;
  }

  .sidenav-description {
    margin-bottom: $margin-1;
    font-size: $font-content;
  }

  mat-form-field {
    width: calc(100% - 2rem);
  }

  .sidenav-contacts {
    margin-bottom: $margin-1;

    a {
      color: #333333;
      text-decoration: none;
    }

    div {
      height: 1.9rem;
      line-height: 1.9rem;

      span {
        vertical-align: middle;
      }

      span:last-child {
        padding: 0 $margin-small;
        font-size: $font-content;
      }
    }
  }

  .social-network {
    margin-bottom: $margin-1;

    a {
      margin-right: $margin-small;
    }
  }
}

