<div class="sidenav-background">
  <div class="sidenav-title">{{discount.vendor}}</div>
  <app-btn-favorite [isFavorite]="discount.isFavorite"
                    class="sidenav-favorite"></app-btn-favorite>
</div>

<div class="sidenav-info">
  <div class="sidenav-service">{{discount.title}}</div>

  <div class="category-and-tags">
    <app-category [discountCategory]=discount.category></app-category>
    <app-tag *ngFor="let tag of discount.tags"
             [discountTag]="tag"></app-tag>
  </div>

  <div class="sidenav-description">{{discount.description}}</div>

  <mat-form-field appearance="fill">
    <mat-label>Address</mat-label>

    <mat-select [formControl]="address" multiple>
      <mat-select-trigger>
        {{address.value ? address.value[0] : ''}}
        <span *ngIf="address.value?.length > 1"
              class="example-additional-selection">
          (+{{address.value.length - 1}}
          {{address.value?.length === 2 ? 'other' : 'others'}})
        </span>
      </mat-select-trigger>
      <mat-option *ngFor="let address of discount.addressList"
                  [value]="address">{{address}}</mat-option>
    </mat-select>
  </mat-form-field>

  <div class="sidenav-contacts">
    <div class="sidenav-website">
      <a href="{{discount.website}}" target="_blank">
        <span class="material-icons">language</span>
        <span>{{discount.website}}</span>
      </a>
    </div>

    <div class="sidenav-phone">
      <span class="material-icons">phone</span>
      <span>{{discount.phones}}</span>
    </div>

    <div class="sidenav-time">
      <span class="material-icons">query_builder</span>
      <span>Open: {{discount.workingHours}}</span>
    </div>

    <div class="sidenav-validity">
      <span class="material-icons">calendar_today</span>
      <span>Available till {{discount.validity  | date: 'dd/MM/yyyy'}}</span>
    </div>
  </div>

  <div class="social-network">
    <a href="{{discount.instagram}}"
       target="_blank">
      <img src="assets/img/icons/instagram-icon.svg">
    </a>

    <a href="{{discount.facebook}}"
       target="_blank">
      <img src="assets/img/icons/facebook-icon.svg">
    </a>

    <a href="{{discount.vk}}"
       target="_blank">
      <img src="assets/img/icons/vk-icon.svg">
    </a>
  </div>
</div>

