@import "../../../../styles.scss";

.multi-select-container {
  box-shadow: $shadow-gray;
  border-radius: $border-radius-small;

  mat-form-field {
    width: 100%;
  }

  .mat-form-field-wrapper {
    padding-bottom: 0;
  }

  .mat-form-field-underline {
    bottom: 0.2rem;
  }

  .mat-form-field-appearance-fill .mat-form-field-flex {
    background-color: transparent;
  }

  .mat-form-field-appearance-fill .mat-form-field-underline::before {
    background-color: $color-white;
  }

  .mat-form-field-appearance-fill .mat-form-field-flex:hover .mat-form-field-ripple {
    background-color: $color-white;
  }
}
