.container {
    width: inherit;
    height: 1080px;
  }
  
  .sidenav-content {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
  }
  
  .sidenav {
      width: 35%;

    .drawer-header {
        background-size: cover;
        display: flex;
        align-items: center;
        // background-image: url('../../../assets/images/card-backgrounds/bg-vendor-green.PNG');
        height: 7rem;
        padding-left: .5rem;
        font-size: 1.5rem;
        font-weight: bold;
        color: #fff;
    }

    .edit-field {
        display: flex;
        flex-direction: column;
        height: auto;
        justify-content: space-between;
        padding: 0 .5rem;

        .discount-name{
            margin-top: .5rem;
            font-size: 1.25rem;
            font-weight: bold;
        }

        .edit-label {
            margin-top: 1rem;
        }

        .mat-form-field-underline {
            display: none;
        }
        textarea.mat-input-element {
            padding: .2rem;
            min-height: 10rem;
        }

        textarea {
            box-shadow: 0 4px 30px rgba(34, 35, 38, 0.15);
        }
        
        button {
            background-color: #9A90FE;
            color: #fff;
        }
    }
  }
// .mat-expansion-panel-header {
                    //     padding: 0;
                    // }


                    // .mat-form-field-appearance-legacy {

                    //     .mat-form-field-underline {
                    //         display: none;
                    //     }
                        
                    //     .mat-form-field-wrapper {
                    //         padding-bottom: 0;
                    //     }

                    //     .mat-form-field-infix {
                    //         padding: 0;
                    //     }
                    // } 

                    // textarea.mat-input-element {
                    //     padding-top: .1rem;
                    //     margin: 0;
                    // }

                    // .mat-form-field-infix {
                    //     padding: 0;
                    //     border-top: 0;
                    // }

                    // .form-field {
                    //     width:400px;
                    // }

                    // .mat-form-field-flex {
                    //     display: inline-flex;
                    //     align-items: baseline;
                    //     box-sizing: border-box;
                    //     width: 100%;
                    // }
                
                    // .invisible {
                    //     display: none;
                    // }