<mat-drawer-container class="container" autosize>
    <mat-drawer #drawer class="sidenav" mode="over" position="end">
        <div class="drawer-header" [ngStyle]="{'background-image': 'url('+bgVendor+')'}">
            {{ discountVendorName }}
        </div>
        <div class="edit-field">
            <div class="discount-name">
                {{discountName}}
            </div>
            <div class="edit-label">
                Edit your note:
            </div>
            <mat-form-field>
                <textarea matInput type="text" [(ngModel)]="discountNote"></textarea>
                <!-- <button mat-button *ngIf="discountNote" matSuffix mat-icon-button aria-label="Clear"
                    (click)="discountNote=''">
                    <mat-icon>close</mat-icon>
                </button> -->
            </mat-form-field>
            <button mat-raised-button (click)="drawer.toggle()">Confirm</button>
        </div>
    </mat-drawer>

    <div class="sidenav-content">
        <app-favorite-card (openSidenav)="drawer.toggle()"></app-favorite-card>
    </div>

</mat-drawer-container>