<div class="person">
  <div class="person-pic">
    <img [src]="userPhoto"
         [matMenuTriggerFor]="beforeMenuProfile"
         class="profile-icon"
         alt="">

    <mat-menu class="profile-menu"
              #beforeMenuProfile="matMenu"
              xPosition="before">
      <button class="btn-primary"
              (click)="goToPerson()"
              mat-menu-item>
        <img src="../../../assets/images/header/header_menu_profile.svg" alt="">
        {{ 'header.profile' | translate }}
      </button>

      <button class="btn-primary"
              (click)="logout()"
              mat-menu-item>
        <span class="material-icons">logout</span>
        {{ 'header.logout' | translate }}
      </button>
    </mat-menu>
  </div>
</div>
