<div class="person">
<div class='person-info'>
  <a class='person-name'
     href='/profile'
     (click)='goToPerson()'>{{user.name}}</a>
  <a class='person-place'
     href='/profile'>{{user.address}}</a>
</div>

<div class='person-pic'>
  <img class='profile-icon'
       src='{{user?.img}}'
       alt='profile-icon'
       mat-button
       [matMenuTriggerFor]='beforeMenuProfile'>
  <mat-menu class='profile-menu'
            #beforeMenuProfile='matMenu'
            xPosition='before'>
    <button class='btn-person btn-primary'
            (click)='goToPerson()'
            mat-menu-item>
      <img src='../../../assets/images/header/header_menu_profile.svg'
           alt='btn-person'>{{ 'header.profile' | translate }}</button>
    <button class='btn-person btn-primary'
            (click)='logout()'
            mat-menu-item>
      <img src='../../../assets/images/header/header_menu_logout.svg'
           alt='btn-person'>{{ 'header.logout' | translate }}</button>
  </mat-menu>
</div>
</div>
