<div class="login-wrapper">
  <div class="login-main">
    <div class="login-main-content">
      <img class="login-logo" src="../../../assets/images/logo.svg"><br>
      <img class="login-picture" src="../../../assets/images/Guy_with_like.svg">
    </div>

  </div>

  <div class="login-form">
    <div class="login-form-content">
      <div class="login-title">Happy Exadel Hours</div>

      <div class="login-field">
        <img src="../../../assets/images/icons/account_box.svg">
        <input matInput type="email" placeholder="Login">
      </div>

      <div class="login-password">
        <img src="../../../assets/images/icons/password_box.svg">
        <input matInput type="password" placeholder="Password">
      </div>

      <div class="login-button">
        <button mat-raised-button color="primary">Login</button>
      </div>
    </div>
  </div>

</div>
