<div class="login-wrapper">
  <div class="login-main">
    <div class="login-logo">
      <img src="../../../assets/img/logo.png" alt="Exadel" title="Exadel">
    </div>
    <div class="login-picture">
      <img src="../../../assets/img/Guy_with_like.svg" alt="Guy with like"
           title="Guy with like">
    </div>
  </div>

  <div class="login-form">
    <div class="login-heading">Happy Exadel Hours</div>
    <div class="login-field">
      <img src="../../../assets/img/icons/account_box.svg" alt="icon">
      <input matInput placeholder="Login">
    </div>

    <div class="login-password">
      <img src="../../../assets/img/icons/password_box.svg" alt="icon">
      <input matInput placeholder="Password">
    </div>

    <div class="login-button">
      <button mat-raised-button color="primary">Login</button>
    </div>
  </div>

</div>
