@import '../../../styles.scss';

$width-field: 35vh;
$height-field: 5vh;
$height-button: calc(5vh + 2px); // 2px для одинаковой высоты кнопки с input(заданы border)
$border-radius-field: 0.4rem;
$font-field: 500 2vh Montserrat;
$margin-bottom-form: 1.8vh;

@mixin login-input-field {
  padding: 0;
  margin: 0;
  outline: none;
  border: none;
  font: $font-field;
  width: 30vh;
}

.login-wrapper {
  height: 100vh;
  background: linear-gradient(107.56deg, #E7E5FD 0%, #D7E9F2 100%);
  display: flex;
  flex-direction: row;
  justify-content: center;

  .login-main {
    display: flex;

    .login-main-content {
      margin: auto;
    }
  }

  .login-logo {
    max-width: 50%;
    margin-bottom: 8vh;
  }

  .login-picture {
    height: 70vh;
    width: 70vh;
  }

  .login-main, .login-form {
    margin: 0 5vh;
  }

  .login-form {
    display: flex;
    padding: 3rem;
    margin: auto;
    border-radius: 0.6rem;
    @include glass;
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);;

    .login-form-content {
      display: flex;
      flex-direction: column;
      margin: auto;

      .login-title {
        margin-bottom: $margin-bottom-form;
        font-size: 2.9vh;
        font-weight: bold;
        text-align: center;
        text-transform: uppercase;
      }

      .login-button {
        display: flex;

        button {
          margin: 0 auto;
          width: $width-field;
          height: calc(5vh + 2px);
          background-color: $color-violet;
          border-radius: $border-radius-field;
          font: $font-field;
        }
      }
    }
  }
}
