<div mat-dialog-content>
  <div class="notification-details-wrapper">
    <div class="content">
      <div class="title">
        {{notificationData.title}}
      </div>

      <div class="notification-details-info">
        <div class="type">
          Type: {{notificationData.type}}
        </div>

        <div class="message">
          {{notificationData.message}}
        </div>

        <div class="date">
          {{notificationData.date | date: 'dd MMMM yyyy hh:mm'}}
        </div>
      </div>
    </div>

    <div class="edit-btn">
      <button class="btn-cancel"
              mat-button
              mat-dialog-close>
              {{ 'favorites.cancel' | translate }}</button>
    </div>

  </div>
</div>

