@import "../../../styles.scss";

.discounts-container {
  position: relative;
  z-index: 1;
}

.container {
  grid-template-rows: repeat(4, minmax(13rem, 1fr));
}

mat-grid-list {
  padding-bottom: $padding-last;
}

mat-grid-tile {
  @include mat-grid-tile;
}
