@import "../../../styles.scss";

.container {
  @include cards-grid;
  grid-template-rows: repeat(4, minmax(13rem, 1fr));
}

.search-options {
  display: flex;
  position: fixed;
  background-color: white;
  width: 65.625%;
  z-index: 3;
  margin-bottom: 10rem;
}
