@import "../../../styles.scss";

.container {
  grid-template-rows: repeat(4, minmax(13rem, 1fr));
}

.search-options {
  display: flex;
  position: fixed;
  background-color: white;
  width: 65.625%;
  z-index: 3;
  margin-bottom: 10rem;
}

mat-grid-list {
  padding-bottom: $padding-last-grid;
}

mat-grid-tile {
  @include mat-grid-tile;
}
