@import "../../../../styles.scss";

.discount-details-modal-backdrop.cdk-overlay-backdrop {
  width: calc(100% - 33rem);
}

.discount-details-modal.cdk-overlay-pane {
  width: 33rem;

  .discount-details-wrapper {
    height: 100%;
    margin: 0 $margin-1;
    display: flex;
    flex-direction: column;

    .discount-details-header {
      height: $height-header;
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      .discount-detail-title {
        @include font-bold-vendor;
        line-height: $height-header;
      }

      .discount-detail-favorite {
        line-height: $height-header;
        font-size: $font-vendor*2;
      }
    }

    .discount-details-info {
      padding: $margin-1;
      @include glass;
      box-shadow: $shadow-violet;
      border-radius: $border-radius-small;

      .discount-detail-service {
        @include font-bold-discount;
        margin-bottom: $margin-half;
      }

      .category-and-tags {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        flex-wrap: wrap;
        margin-bottom: $margin-half;
      }

      .discount-detail-description {
        margin-bottom: $margin-1;
        font-size: $font-content;
      }

      mat-form-field {
        width: 100%;

        .mat-form-field-wrapper {
          padding: 0;
          @include glass;
          border-radius: $border-radius-small;
        }
      }

      .modal-contacts {
        margin: $margin-1 0;

        a {
          color: $color-black;
          text-decoration: none;
        }

        div {
          height: 1.9rem;
          line-height: 1.9rem;

          span {
            vertical-align: middle;
          }

          span:last-child {
            padding: 0 $margin-small;
            font-size: $font-content;
          }
        }
      }

      .social-network a {
        margin-right: $margin-small;
      }
    }

    .discount-details-button {
      text-align: right;
      margin: auto 0 $margin-half 0;
    }
  }

  .discount-details-map{
    margin: $margin-1 0;

    agm-map {
      height: 30rem;
    }
  }
}
