@import "../../../../styles.scss";

.cdk-overlay-dark-backdrop {
  background: rgba(0, 0, 0, 0.5);
}

.cdk-global-overlay-wrapper {
  justify-content: flex-end !important;

  .cdk-overlay-pane {
    width: 33rem;
    height: 100%;
    margin-top: 0;

    .mat-dialog-container {
      padding: 0;
      border-radius: 0;

      .mat-dialog-content {
        display: block;
        margin: 0;
        padding: 0;
        max-height: 100%;
        height: 100%;

        .discount-detail-background {
          height: $height-background-triangle;
          background-size: 100%;
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          padding: 0 $margin-1;

          .discount-detail-title {
            @include font-bold-vendor;
            line-height: $height-background-triangle;
          }

          .discount-detail-favorite {
            line-height: $height-background-triangle;
            font-size: $font-vendor*2;
          }
        }

        .discount-detail-info {
          padding: $margin-1;
          height: calc(100% - 5.8rem); //might be a scss variable
          background-image: url("../../../../assets/images/Girl_with_truck.svg");
          background-size: 23%;
          background-repeat: no-repeat;
          background-position: 98% 98%;
          background-attachment: fixed;

          .discount-detail-service {
            @include font-bold-discount;
            margin-bottom: $margin-half;
          }

          .category-and-tags {
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            flex-wrap: wrap;
            margin-bottom: $margin-half;
          }

          .discount-detail-description {
            margin-bottom: $margin-1;
            font-size: $font-content;
          }

          mat-form-field {
            width: calc(100% - 2rem);
          }

          .modal-contacts {
            margin-bottom: $margin-1;

            a {
              color: $color-black;
              text-decoration: none;
            }

            div {
              height: 1.9rem;
              line-height: 1.9rem;

              span {
                vertical-align: middle;
              }

              span:last-child {
                padding: 0 $margin-small;
                font-size: $font-content;
              }
            }
          }

          .social-network {
            margin-bottom: $margin-1;

            a {
              margin-right: $margin-small;
            }
          }
        }
      }
    }
  }
}
