<div mat-dialog-content class="mat-dialog-content">
  <div class="discount-details-wrapper">
    <div class="discount-details-header">
      <div class="discount-detail-title">{{discountDetails.vendorName}}</div>
      <app-btn-favorite [isFavorite]="discountDetails.isFavorite"
                        class="discount-detail-favorite"></app-btn-favorite>
    </div>

    <div class="discount-details-info">
      <div class="discount-detail-service">{{discountDetails.promoCode}}</div>

      <div class="category-and-tags">
        <app-category [categoryId]="discountDetails.categoryId"></app-category>
        <div *ngIf="discountDetails.tagsIds.length"
             class="tags">
          <app-tag *ngFor="let tag of discountDetails.tagsIds"
                   [tagId]="tag"></app-tag>
        </div>
      </div>

      <div class="discount-detail-description">{{discountDetails.conditions}}</div>

      <mat-form-field appearance="outline">
        <mat-label>{{ 'discounts.address' | translate }}</mat-label>

        <mat-select [formControl]="address" multiple>
          <mat-select-trigger>
            {{address.value ? address.value[0] : ''}}
            <span *ngIf="address.value?.length > 1" class="example-additional-selection">
              (+{{address.value.length - 1}}
              {{address.value?.length === 2 ? 'other' : 'others'}})
            </span>
          </mat-select-trigger>
          <mat-option *ngFor="let address of discountDetails.addresses"
                      [value]="address.id">{{address}}</mat-option>
        </mat-select>
      </mat-form-field>

      <div class="modal-contacts">
        <div *ngIf="links.website"
             class="sidenav-website">
          <a href="{{links.website}}" target="_blank">
            <span class="material-icons">language</span>
            <span>{{links.website}}</span>
          </a>
        </div>

        <div *ngFor="let phone of discountDetails.phones"
             class="sidenav-phone">
          <span class="material-icons">phone</span>
          <span>{{phone.number}}</span>
        </div>

        <div class="sidenav-time">
          <span class="material-icons">query_builder</span>
          <span>{{ 'discounts.open' | translate }}: {{discountDetails.workingHours}}</span>
        </div>

        <div class="sidenav-validity">
          <span class="material-icons">calendar_today</span>
          <span>{{ 'discounts.available' | translate }} {{discountDetails.endDate  | date: 'dd/MM/yyyy'}}</span>
        </div>
      </div>

      <div class="social-network">
        <a *ngIf="links.instagram"
           href="{{links.instagram}}"
           target="_blank">
          <img src="assets/images/icons/instagram-icon.svg">
        </a>

        <a *ngIf="links.facebook"
           href="{{links.facebook}}"
           target="_blank">
          <img src="assets/images/icons/facebook-icon.svg">
        </a>

        <a *ngIf="links.vkontakte"
           href="{{links.vkontakte}}"
           target="_blank">
          <img src="assets/images/icons/vk-icon.svg">
        </a>
      </div>
    </div>

    <div class="discount-details-map">
      <agm-map [latitude]="lat" [longitude]="lng" [zoom]="15">
        <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
      </agm-map>
    </div>

    <div class="discount-details-button">
      <button mat-button mat-dialog-close>{{ 'discounts.cancel' | translate }}</button>
    </div>
  </div>
</div>
