@import "../../../../styles.scss";

.mat-elevation-z8 {
  position: relative;
  z-index: 0;
  padding-bottom: 1.5rem;

  table {
    margin-top: 1.5rem;
    width: 100%;
    background: transparent;

    th.mat-header-cell {
      text-transform: uppercase;
      font-weight: bold;
      background-color: $color-blue-green;
      color: white;
      z-index: 2;
    }

    thead th {
      position: sticky;
      top: 3rem;
    }

    td {
      @include glass;
    }
  }
}

.admin-search-event {
  width: calc(100% - 1.6rem);
  background-color: $color-white;
  box-shadow: $shadow-gray;
  padding: .3rem .8rem;
  border-radius: 4px;
  margin: 1rem 0;
}
