@import "../../../../styles.scss";

.mat-elevation-z8 {
  position: relative;
  z-index: 0;

  table {
    margin-top: 1.5rem;
    width: 100%;
    background: transparent;

    th.mat-header-cell {
      text-transform: uppercase;
      text-align: center;
      font-weight: bold;
      background-color: $color-blue-green;
      color: white;
      z-index: 2;
    }

    thead th {
      position: sticky;
      top: 3rem;
    }

    td {
      @include glass;
    }
  }
}

@media screen and (max-width: 768px) {
  .mat-elevation-z8 {
    table {
      margin-top: 1rem;

      th.mat-header-cell {
        font-size: .6rem;
      }

      td.mat-cell {
        font-size: .6rem;
        line-height: .7rem;
      }

      td.mat-cell:nth-child(3) {
        padding-right: .2rem;
      }

      td.mat-cell:first-of-type {
        padding-left: .5rem;
      }

      td.mat-cell:last-of-type {
        padding-right: .5rem;
      }
    }
  }
}

@media screen and (max-width: 360px) {
  .mat-elevation-z8 {
    table {
      margin-top: .5rem;
    }

    th.mat-header-cell {
      font-size: .4rem;
    }
  }
}

@media screen and (max-width: 320px) {
  .login-wrapper .login-form {
    padding: 2rem;
  }
}
