<app-input-search [(ngModel)]="searchData.searchUserText"
                  (keydown.enter)="applyHistorySearch()"></app-input-search>

<div class="table-container"
     infiniteScroll
     [infiniteScrollDistance]="2"
     [infiniteScrollThrottle]="100"
     (scrolled)="onScrollDown($event)">
  <div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource"
           matSort matSortActive="created" matSortDisableClear matSortDirection="desc">

      <!-- Date Column -->
      <ng-container matColumnDef="date">
        <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear>{{ 'event-history.date' | translate }}</th>
        <td mat-cell *matCellDef="let row"> {{row.dateTime | date: 'dd MMMM yyyy hh:mm'}} </td>
      </ng-container>

      <!-- Action Column -->
      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef>{{ 'event-history.action' | translate }}</th>
        <td mat-cell *matCellDef="let row">
          <app-action-event [type]="row.action.toLowerCase()"></app-action-event>
        </td>
      </ng-container>

      <!-- User Column -->
      <ng-container matColumnDef="user">
        <th mat-header-cell *matHeaderCellDef>{{ 'event-history.user' | translate }}</th>
        <td mat-cell *matCellDef="let row"> {{row.userName}} </td>
      </ng-container>

      <!-- Description Column -->
      <ng-container matColumnDef="description">
        <th mat-header-cell *matHeaderCellDef>{{ 'event-history.description' | translate }}</th>
        <td mat-cell *matCellDef="let row" [style.description]="row.description"> {{row.description}} </td>
      </ng-container>

      <tr class="table-sticky" mat-header-row *matHeaderRowDef="displayedColumns;"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
  </div>
</div>
