.profile-header {
  font-size: 2.5rem;
  font-weight: bold;
  margin: 5rem 0 3rem 2rem;
}

.profile-wrapper {
  display: flex;
  flex-direction: row;

  img {
    width: 12rem;
    height: 12rem;
    border-radius: 50%;
  }

  .profile-content {
    margin-top: 4rem;
    margin-left: 2rem;

    .profile-info {
      margin-bottom: 0.5rem;

      .profile-username {
        font-size: 2.5rem;
        font-weight: bold;
        margin-bottom: 1.5rem;
      }

      .profile-location {
        font-size: 1.1rem;
        font-weight: bold;

        div {
          margin-bottom: 0.5rem;
        }
      }
    }

    .mat-list-base .mat-list-item .mat-list-item-content-reverse {
      padding: 0;
      font-size: 1.1rem;
      font-weight: 500;
    }

    .mat-pseudo-checkbox {
      width: 1.75rem;
      height: 1.75rem;
    }

    .mat-pseudo-checkbox-checked::after {
      top: 0.4rem;
      left: 0.2rem;
      width: 1rem;
      height: 0.4rem;
    }

    mat-selection-list {
      width: 16rem;

      mat-list-option:not(:first-child) {
        margin-left: 1rem;
        height: 2.2rem;
      }

      mat-list-option:first-child {
        width: 17rem;
        height: 2.2rem;
      }
    }

    mat-form-field {
      margin-top: 1rem;
      width: 30rem;
      padding: 1rem 1rem 0 1rem;
      background: #FFFFFF;
      box-shadow: 0px 4px 4px rgba(51, 51, 51, 0.04), 0px 4px 16px rgba(51, 51, 51, 0.08);
      border-radius: 4px;
    }
  }
}
