@import "../../../styles.scss";

.profile-header {
  font-size: 1.8rem;
  font-weight: bold;
  margin: 4rem 0 2.2rem 1.6rem;
}

.profile-wrapper {
  display: flex;
  flex-direction: row;
  width: 30rem;
  @include glass;
  border-radius: $border-radius-small;
  box-shadow: $shadow-violet;
  padding: 1.5rem;

  img {
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
  }

  .profile-content {
    margin-left: 1rem;
    width: 100%;

    .form-selection {
      text-align: right;
    }

    .mat-pseudo-checkbox-checked.mat-pseudo-checkbox-disabled,
    .mat-pseudo-checkbox-indeterminate.mat-pseudo-checkbox-disabled {
      background: $color-gray;
    }

    .mat-pseudo-checkbox-checked {
      @extend .backgroundColor;
    }

    .add-profile-button {
      margin-top: $margin-1;
      height: 3rem;
      width: 45%;
      color: $color-white;
      @extend .backgroundColor;
    }

    .profile-info {
      margin-bottom: 0.5rem;

      .profile-username {
        font-size: 1.8rem;
        font-weight: bold;
        margin-bottom: 1rem;
      }

      .profile-location {
        font-size: 0.9rem;
        font-weight: bold;

        div {
          margin-bottom: 0.4rem;
        }
      }
    }

    .mat-list-base .mat-list-item .mat-list-item-content-reverse {
      padding: 0;
      font-size: 0.9rem;
      font-weight: 500;
    }

    .mat-pseudo-checkbox {
      width: 1.4rem;
      height: 1.4rem;
    }

    .mat-pseudo-checkbox-checked::after {
      top: 0.2rem;
      left: 0.15rem;
      width: 0.8rem;
      height: 0.3rem;
    }

    mat-selection-list {
      width: 13rem;
      padding: 0;
      margin-bottom: 0.8rem;
      outline: none;

      mat-list-option {
        background: none;
      }

      mat-list-option:not(:first-child) {
        margin-left: 0.8rem;
        height: 1.8rem;
      }

      mat-list-option:first-child {
        width: 13.8rem;
        height: 1.8rem;
      }
    }

    mat-form-field {
      width: 100%;
      padding: 0;
      background: rgba(255, 255, 255, 0.4);
      backdrop-filter: blur(10px);
      box-shadow: $shadow-gray;
      border-radius: 4px;

      .mat-form-field-wrapper {
        padding: 0;
      }

      .mat-chip {
        margin: 0.5rem 0.5rem 0.5rem 0;
        background: rgba(240, 240, 240, 0.7);
        -webkit-backdrop-filter: blur(10px);
        backdrop-filter: blur(10px);
      }
    }
  }
}

.mat-primary .mat-pseudo-checkbox-checked, .mat-primary .mat-pseudo-checkbox-indeterminate {
  @extend .backgroundColor;
}

@media screen and (max-width: 768px) {
  .profile-wrapper {
    flex-direction: column;
    justify-content: space-between;
    max-width: 25.5rem;

    .profile-photo {
      display: flex;
      justify-content: space-around;
      margin-bottom: $margin-half;
    }

    .profile-content {
      max-width: 25rem;
      margin-left: 0;

      .mat-form-field {
        width: 100%;
      }
    }
  }
}

@media (max-width: 570px) {
  .profile-wrapper {
    max-width: 20rem;
  }
}

@media (max-width: 450px) {
  .profile-wrapper {
    max-width: 15rem;
    max-height: 100%;

    img {
      width: 7.5rem;
      height: 7.5rem;
    }
  }
}

@media screen and (max-width: 360px) {
  .profile-wrapper {
    max-width: 13.5rem;

    .profile-photo {
      display: flex;
      justify-content: space-around;
      margin-bottom: $margin-half;
    }

    .profile-content {
      max-width: 25rem;
    }
  }
}

@media screen and (max-width: 320px) {
  .profile-wrapper {
    max-width: 13rem;
    padding: 1.25rem;

    .profile-content .add-profile-button {
      height: 2.5rem;
      margin-top: $margin-half;
    }

    .profile-content .mat-list-base .mat-list-item .mat-list-item-content-reverse {
      font-size: .8rem;
    }

    .profile-content .profile-info .profile-username {
      margin-bottom: .8rem;
      font-size: 1.4rem;
    }

    img {
      width: 5rem;
      height: 5rem;
    }
  }
}

.profile-wrapper .profile-content mat-selection-list mat-list-option:first-child {
  width: 13rem;
}

.profile-wrapper .profile-content mat-selection-list mat-list-option:not(:first-child) {
  width: 12.2rem;
}
