<div class="profile-wrapper">

  <div class="profile-photo">
    <img src='{{user?.img}}' alt='Profile photo' title='Profile photo'/>
  </div>

  <div class="profile-content">
    <div class="profile-info">
      <div class="profile-username">{{user.name}}</div>
      <div class="profile-location">
        <div>{{location}}</div>
        <div>{{user.address.street}}</div>
      </div>
    </div>

    <mat-selection-list disableRipple>
      <mat-list-option [color]="'primary'"
                       [selected]="user.allNotificationsAreOn"
                       (click)="user.allNotificationsAreOn = !user.allNotificationsAreOn"
                       ngDefaultControl>
        {{ 'profile.newsletters' | translate }}
      </mat-list-option>

      <mat-list-option [color]="'primary'"
                       [selected]="user.newDiscountNotificationIsOn"
                       [disabled]="!user.allNotificationsAreOn"
                       (click)="user.newDiscountNotificationIsOn = !user.newDiscountNotificationIsOn"
                       ngDefaultControl>
        {{ 'profile.service' | translate }}
      </mat-list-option>

      <mat-list-option [color]="'primary'"
                       [selected]="user.newVendorNotificationIsOn"
                       [disabled]="!user.allNotificationsAreOn"
                       (click)="user.newVendorNotificationIsOn = !user.newVendorNotificationIsOn"
                       ngDefaultControl>
        {{ 'profile.vendors' | translate }}
      </mat-list-option>
      <mat-list-option [color]="'primary'"
                       [selected]="user.hotDiscountsNotificationIsOn"
                       [disabled]="!user.allNotificationsAreOn"
                       (click)="user.hotDiscountsNotificationIsOn = !user.hotDiscountsNotificationIsOn"
                       ngDefaultControl>
        {{ 'profile.hot_sales' | translate }}
      </mat-list-option>
    </mat-selection-list>

    <div class="form-selection">
      <mat-form-field appearance="fill">
        <mat-label>{{ 'profile.subscription' | translate }}</mat-label>
        <mat-select multiple [(ngModel)]="selectedOptions">
          <mat-optgroup [label]="'Categories'">
            <mat-option *ngFor="let category of allOptions.categories" [value]="category.id">
              {{category.viewValue}}
            </mat-option>
          </mat-optgroup>
          <mat-optgroup [label]="'Tags'">
            <mat-option *ngFor="let tag of allOptions.tags" [value]="tag.id">
              {{tag.viewValue}}
            </mat-option>
          </mat-optgroup>
          <mat-optgroup [label]="'Vendors'">
            <mat-option *ngFor="let vendor of allOptions.vendors" [value]="vendor.id">
              {{vendor.viewValue}}
            </mat-option>
          </mat-optgroup>
        </mat-select>
      </mat-form-field>
      <button mat-raised-button
              class="add-profile-button"
              (click)="saveProfile()">{{ 'users.add-profile.save' | translate }}</button>
    </div>
  </div>
</div>
