h2 {
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

h3 {
  font-size: 1rem;
  font-weight: bold;
  margin-bottom: 0;
}

.profile-header {
  margin-top: 5rem;
  margin-left: 2.5rem;
}

.profile-wrapper {
  display: flex;
  flex-direction: row;

  .profile-photo {
    width: 12rem;
    height: 12rem;
    border-radius: 50%;
    overflow: hidden;
  }

  .profile-content {
    margin-top: 5rem;
    margin-left: 2rem;

    .profile-info {
      margin-bottom: 0.5rem;
    }

    mat-selection-list {
      width: 16rem;

      mat-list-option:not(:first-child) {
        margin-left: 1rem;
        height: 1.5rem;
      }

      mat-list-option:first-child {
        width: 17rem;
        height: 1.5rem;
      }
    }

    mat-form-field {
      margin-top: 1rem;
      width: 30rem;
      padding: 1rem 1rem 0 1rem;
      background: #FFFFFF;
      box-shadow: 0px 4px 4px rgba(51, 51, 51, 0.04), 0px 4px 16px rgba(51, 51, 51, 0.08);
      border-radius: 4px;
    }
  }
}
