@import "../../../styles.scss";

.profile-header {
  font-size: 1.8rem;
  font-weight: bold;
  margin: 4rem 0 2.2rem 1.6rem;
}

.profile-wrapper {
  display: flex;
  flex-direction: row;
  width: 60%;
  margin: auto;
  @include glass;
  border-radius: $border-radius-small;
  box-shadow: $shadow-violet;
  padding: 1rem 1rem 2rem 1rem;

  img {
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
    padding: 0.5rem;
  }

  .profile-content {
    margin-top: 3.2rem;
    margin-left: 1.6rem;
    padding-left: 1rem;
    width: 100%;

    .profile-info {
      margin-bottom: 0.5rem;

      .profile-username {
        font-size: 1.8rem;
        font-weight: bold;
        margin-bottom: 1rem;
      }

      .profile-location {
        font-size: 0.9rem;
        font-weight: bold;

        div {
          margin-bottom: 0.4rem;
        }
      }
    }

    .mat-list-base .mat-list-item .mat-list-item-content-reverse {
      padding: 0;
      font-size: 0.9rem;
      font-weight: 500;
    }

    .mat-pseudo-checkbox {
      width: 1.4rem;
      height: 1.4rem;
    }

    .mat-pseudo-checkbox-checked::after {
      top: 0.2rem;
      left: 0.15rem;
      width: 0.8rem;
      height: 0.3rem;
    }

    mat-selection-list {
      width: 13rem;
      padding: 0;
      margin-bottom: 0.8rem;
      outline: none;

      mat-list-option {
        background: none;
      }

      mat-list-option:not(:first-child) {
        margin-left: 0.8rem;
        height: 1.8rem;
      }

      mat-list-option:first-child {
        width: 13.8rem;
        height: 1.8rem;
      }
    }

    mat-form-field {
      width: 90%;
      padding: 0.5rem 0.5rem 0 0.5rem;
      background: rgba(255, 255, 255, 0.4);
      backdrop-filter: blur(10px);
      box-shadow: $shadow-gray;
      border-radius: 4px;

      .mat-chip {
        margin: 0.5rem 0.5rem 0.5rem 0;
        background: rgba(240, 240, 240, 0.7);
        -webkit-backdrop-filter: blur(10px);
        backdrop-filter: blur(10px);
      }
    }
  }
}
