@import "../../../styles";

.search-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 1.5rem;

  .main-search-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;

    .search-wrapper {
      width: 74.5%;
    }

    .search-wrapper-statistics {
      width: 49.5%
    }

    .select-wrapper {
      width: 24%;
    }

    .button-export {
      width: 24%;
      @extend .backgroundColor;
      color: $color-white;
    }
  }

  .filters-container {
    width: 100%;
    display: flex;
    justify-content: space-between;

    .btn-container {
      width: 24%;

      button {
        @extend .backgroundColor;
        width: 100%;
        height: 100%;
        color: $color-white;
      }
    }
  }

  .search-filter {
    width: 24%;
    box-shadow: $shadow-gray;
    border-radius: $border-radius-small;
    @include glass;

    mat-form-field {
      width: 100%;
    }

    .mat-form-field-wrapper {
      padding-bottom: 0;
    }

    .mat-form-field-underline {
      bottom: 0.2rem;
    }

    .mat-form-field-appearance-fill .mat-form-field-flex {
      background-color: transparent;
    }

    .mat-form-field-appearance-fill .mat-form-field-underline::before {
      background-color: $color-white;
    }

    .mat-form-field-appearance-fill .mat-form-field-flex:hover .mat-form-field-ripple {
      background-color: $color-white;
    }
  }
}

.mat-select-panel .city {
  padding-left: 2rem;
}

@media (max-width: 540px) {
  .search-container {
    margin-bottom: 1rem;

    .main-search-container {
      flex-direction: column;
      margin-bottom: 0;

      .search-wrapper, .search-wrapper-statistics {
        width: 100%;
        margin-bottom: 0.5rem;
      }

      .select-wrapper, .button-export {
        width: 100%;
        margin-bottom: 0.5rem;
      }
    }

    .filters-container {
      flex-direction: column;

      .btn-container {
        width: 100%;
      }
    }

    .search-filter {
      width: 100%;
      margin-bottom: 0.5rem;
    }
  }
}
