<div class="search-container">
  <div class="main-search-container">
    <div class="search-wrapper">
      <app-input-search [(ngModel)]="searchData.searchText"
                        (keydown.enter)="submitSearch()"></app-input-search>
    </div>

    <div class="search-filter">
      <mat-form-field appearance="fill">
        <mat-label>{{ 'search.location' | translate }}</mat-label>

        <mat-select [(ngModel)]="searchData.location">
          <mat-option>{{ 'search.select' | translate }}</mat-option>
          <mat-option [value]="option.id"
                      *ngFor="let option of filtersOptions.locations">
            {{ option.viewValue }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>

  <div class="filters-container">
    <div class="search-filter">
      <mat-form-field appearance="fill">
        <mat-label>{{ 'search.category' | translate }}</mat-label>

        <mat-select [(ngModel)]="searchData.categories"
                    (ngModelChange)="changeTagsList()"
                    [formControl]="categoriesFormControl" multiple>
          <mat-option *ngFor="let option of filtersOptions.categories"
                      [value]="option.id">{{option.viewValue}}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div class="search-filter">
      <mat-form-field appearance="fill">
        <mat-label>{{ 'search.tag' | translate }}</mat-label>

        <mat-select [formControl]="tagsFormControl" multiple
                    [(ngModel)]="this.searchData.tags">
          <mat-option *ngFor="let option of filtersOptions.tags"
                      [value]="option.id">{{option.viewValue}}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div *ngIf="isVendorSearchAvailable"
         class="search-filter">
      <mat-form-field appearance="fill">
        <mat-label>{{ 'search.vendor' | translate }}</mat-label>

        <mat-select [formControl]="vendorsFormControl" multiple
                    [(ngModel)]="searchData.vendors">
          <mat-option *ngFor="let option of filtersOptions.vendors"
                      [value]="option.id">{{option.viewValue}}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div *ngIf="isDateRangeSearchAvailable"
         class="search-filter">
      <mat-form-field appearance="fill">
        <mat-label>{{ 'search.date-range' | translate }}</mat-label>

        <mat-date-range-input [rangePicker]="picker" [max]="maxDate">
          <input
          matStartDate
          matInput
          placeholder="{{ 'search.date-search-start' | translate }}"
          readonly
          (dateChange)="changeDate($event)">
          <input
          matEndDate
          matInput
          placeholder="{{ 'search.date-search-end' | translate }}"
          readonly
          (dateChange)="changeDate($event)">
        </mat-date-range-input>

        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>

        <mat-date-range-picker #picker></mat-date-range-picker>
      </mat-form-field>
    </div>

    <div class="btn-container">
      <button mat-raised-button (click)="submitSearch()">{{ 'search.btn_search' | translate }}</button>
    </div>
  </div>
</div>
