/* You can add global styles to this file, and also import other style files */
$height-background-triangle: 3.8rem;
$font-vendor: 1.5rem;
$font-title: 1.1rem;
$font-content: 0.85rem;
$margin-1: 1rem;
$margin-half: 0.5rem;
$margin-small: 0.35rem;

$box-shadow: 0 4px 30px rgba(34, 35, 38, 0.15);
$border-radius-small: .33rem;

$color-violet: #9A90FE;
$color-red: #DB0404;
$color-black: #333;
$color-white: #fff;
$color-white-dim: #f3f3f3;
$color-grey: #B0B4B6;
$color-dark-grey: #747474;
$color-blue-green: #628C97;
$color-table-header: #F4F2FF;

$margin-category-tag: .5rem .5rem .5rem 0;

$padding-category-tag: 0 0.3rem;
$padding-last: 1.5rem;

@mixin header-glass {
  background: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(10px);
}

@mixin category-tags {
  min-width: fit-content;
  display: flex;
  align-items: center;
  height: 1.5rem;
  border-radius: 0.3rem;
  padding: $padding-category-tag;
  margin: $margin-category-tag;
}

@mixin img-profile-language {
  height: 2.2rem;
  width: 2.2rem;
  align-self: center;
}

@mixin mat-grid-tile {
  box-shadow: $box-shadow;
  border-radius: $border-radius-small;

  app-discount-card {
    user-select: none;
    height: 100%;
    width: 100%;
  }
}

@mixin mat-grid-tile {
  box-shadow: $box-shadow;
  border-radius: $border-radius-small;

  app-discount-card,
  app-vendor-card {
    user-select: none;
    height: 100%;
    width: 100%;
  }
}

@mixin font-bold-vendor {
  font-size: $font-vendor;
  font-weight: bold;
  color: $color-black;
}

@mixin font-bold-discount {
  font-size: $font-title;
  font-weight: bold;
}

@mixin btn-icon {
  user-select: none;

  span {
    font-size: 2rem;
    color: $color-white;
  }

  span:hover {
    cursor: pointer;
  }
}

@mixin filters {
  position: relative;
  padding-top: 1rem;
}

@mixin attached-containers {
  position: fixed;
  z-index: 3;
  background-color: white;
  width: 100%;
  top: 9.775rem;
  right: 0;
  height: 5%;
  padding-top: 2rem;

  .filters {
    width: 65.625%;
    margin: auto;
  }
}

body {
  margin: 0;
  min-height: 75vh;
  color: $color-black;
}

.mat-form-field-underline {
  display: none;
}
