/* You can add global styles to this file, and also import other style files */
body {
    margin: 0;
    height: 100vh;
 }
$border-radius-small: .33rem;
$box-shadow: 0 4px 30px rgba(34, 35, 38, 0.15);
$color-white: #fff;
$color-white-dim: #f3f3f3;
$color-black: #333;