@import "../../../../../styles";

.state-event-field {
  max-width: fit-content;
  font-size: 0.8rem;
  height: 1.2rem;
  line-height: 1.2rem;
  border-radius: 0.7rem;
  padding: 0 .8rem 0 .5rem;
  font-weight: 500;
  display: flex;
  flex-direction: row;
  align-items: center;
  text-transform: capitalize;

  .state-event-dot {
    width: 0.4rem;
    height: 0.4rem;
    border-radius: 50%;
    margin-right: $margin-small;
  }
}

.add {
  background-color: #CDFFCD;
  color: #007F00;

  .state-event-dot {
    background-color: #007F00;
  }
}

.edit {
  background-color: #FFECCC;
  color: #CE8500;

  .state-event-dot {
    background-color: #CE8500;
  }
}

.delete {
  background-color: #FFE0E0;
  color: #D30000;

  .state-event-dot {
    background-color: #D30000;
  }
}
