@import "../../../../styles.scss";

.search-container {
  position: relative;
  width: 100%;
  box-shadow: 0 4px 15px rgba(34, 35, 38, 0.15);
  border-radius: 5px;

  .search-input {
    padding-left: 2rem;
    border: none;
    font-family: Montserrat;
    background: transparent;
    line-height: 3.2rem;
    color: rgba(17, 17, 17, 0.48);
    border-radius: 2%;
    width: calc(100% - 30px);
  }

  .search-input:active,
  .search-input:hover,
  .search-input:focus {
    outline: 0;
    outline-offset: 0;
  }

  .search-img {
    position: absolute;
    top: 1.1rem;
    left: 0.3rem;
    width: 1.2rem;
    height: 1.2rem;
  }
}
