@import '../../../styles.scss';

.user-card {
  width: 100%;
  @include glass;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  box-shadow: $shadow-gray;
  border-radius: $border-radius-small;

  .user-card__avatar {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 1rem;

    img {
      width: 40%;
      border-radius: 50%;
    }
  }

  .user-card__info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;

    p {
      font-weight: bold;
      font-size: 0.825rem;
    }

    .mat-button-toggle-group-appearance-standard,
    .mat-button-toggle-group-appearance-standard .mat-button-toggle+.mat-button-toggle {
      border-color: $color-blue-green;
    }

    .btn-toggle {
      display: flex;
      margin-right: 1%;

      mat-button-toggle {
        font-size: 0.9rem;
        margin: 0;
        background: transparent;
      }

      mat-button-toggle.mat-button-toggle-checked {
        background: $color-blue-green;
        color: white;
      }

      span {
        padding: 0 0.3rem;
        line-height: 2rem
      }
    }

    mat-slide-toggle {
      margin-top: 0.5rem;
    }
  }
}
