<div class="user-card">
  <div class="user-card__avatar">
    <img *ngIf="user?.img===null; else photo"
         src="assets/images/no-photo.png">
    <ng-template #photo>
      <img src="{{ user?.img }}">
    </ng-template>
  </div>

  <div class="user-card__info">
    <h3 class="name">{{ user?.name }}</h3>
    <p class="email">{{ user?.email }}</p>

    <mat-button-toggle-group class="btn-toggle"
                             name="userRole"
                             aria-label="Role"
                             value="{{role}}">
      <mat-button-toggle value="Employee"
                         (change)="changeUserRole($event.value)">{{ 'users.user' | translate }}</mat-button-toggle>
      <mat-button-toggle value="Moderator"
                         (change)="changeUserRole($event.value)">{{ 'users.moderator' | translate }}</mat-button-toggle>
      <mat-button-toggle value="Administrator"
                         (change)="changeUserRole($event.value)">{{ 'users.admin' | translate }}</mat-button-toggle>
    </mat-button-toggle-group>

    <mat-slide-toggle class="example-margin"
                      [color]="color"
                      [(ngModel)]="checked"
                      (change)="changeUserState($event.checked)">
      {{checked ? ('users.active' | translate) : ('users.inactive' | translate)}}
    </mat-slide-toggle>
  </div>
</div>
