<div class="category-and-tag-container">
  <div class="category-and-tag-wrapper">
    <div class="category-and-tag-title">{{ 'categories-and-tags.categories' | translate }}</div>

    <div class="category-and-tag-content">
      <app-list-input [label]="'categories-and-tags.category' | translate"
                      [options]="categoriesAll"
                      [isDisabled]=false
                      (changeData)="onChangeData($event)"></app-list-input>
    </div>
  </div>

  <div class="category-and-tag-wrapper">
    <div class="category-and-tag-title">{{ 'categories-and-tags.tags' | translate }}</div>

    <mat-form-field appearance="fill" class="select-category">
      <mat-label>{{'categories-and-tags.category' | translate }}</mat-label>
      <mat-select [(ngModel)]="activeCategoryId"
                  (ngModelChange)="showTagsList()">
        <mat-option>{{ 'search.select' | translate }}</mat-option>
        <mat-option [value]="option.id"
                    *ngFor="let option of categoriesAll">
          {{ option.name }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <div class="category-and-tag-content">
      <app-list-input [label]="'categories-and-tags.tag' | translate"
                      [options]="tagsAll"
                      [isDisabled]="isDisabled"
                      (changeData)="onChangeData($event)"></app-list-input>
    </div>
  </div>
</div>
