.container {
  width: 65.625%;
  margin: auto;
  padding-top: 6.0625rem;

  .title {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 3rem;
  }
}

.spinner-overlay {
  position: fixed;
  height: 100%;
  width: 100%;
  background-color:rgba(0, 0, 0, 0.286);
  z-index:    10;

  .mat-progress-spinner {
    position: absolute;
    z-index: 1000;
    top: 50%;
    left: 50%;
    margin: auto;
  }

  .mat-progress-spinner::ng-deep circle {
    stroke: #baeafa;
  }
}
