.container {
  width: 65.625%;
  margin: auto;
  padding-top: 6.0625rem;

  .title {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 3rem;
  }
}

.spinner-overlay {
  position: fixed;
  height: 100%;
  width: 100%;
  background-color:rgba(0, 0, 0, 0.286);
  z-index: 1010;
  top: 0;
  left: 0;

  .mat-progress-spinner {
    position: absolute;
    z-index: 1020;
    top: 50%;
    left: 50%;
    margin: auto;
  }

  .mat-progress-spinner::ng-deep circle {
    stroke: #baeafa;
  }
}

@media (max-width: 768px) {
  .container{
    width: 80%;
  }
  .container .title {
    font-weight: bold;
    margin-bottom: 1.5rem;
  }
}

@media screen and (max-width: 360px) {
  .container {
    width: 85%;
    padding-top: 5rem;
  }
  .container .title {
    font-weight: bold;
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }
}
