@import "../../../../styles";

.mat-sidenav-container {
  background:rgba(0, 0, 0, 0);
  height: 100vh;
  padding-top: 3.1875;

  .mat-drawer {
    z-index: 3;
    right: 0;
    height: 100%;
    width: 35vw;
  }

  .mat-sidenav {
    height: 100vh;
    transform: translate3d(100%, 0, 0);
    margin-top: 3.1875rem;
  }
}

.container {
  width: 65.625%;
  margin: auto;

  .title {
    @extend .textTitleColor;
    padding-top: 5.0625rem;
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 3rem;
  }
}

.spinner-overlay {
  position: fixed;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.286);
  z-index: 1010;
  top: 0;
  left: 0;

  .mat-progress-spinner {
    position: absolute;
    z-index: 1020;
    top: 50%;
    left: 50%;
    margin: auto;
  }

  .mat-progress-spinner circle, .mat-spinner circle{
    stroke: #baeafa;
  }
}

@media (max-width: 950px) {
  .container {
    width: 90%;
  }
}

@media (max-width: 768px) {
  .container .title {
    font-weight: bold;
    margin-bottom: 1.5rem;
  }
}

@media screen and (max-width: 360px) {
  .container {
    padding-top: 5rem;
  }

  .container .title {
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }
}

@media screen and (max-width: 320px) {
  .container .title {
    font-size: 1.2rem;
    margin-bottom: .8rem;
  }
}
