.container {
  width: 65.625%;
  margin: auto;
  padding-top: 6.0625rem;

  .title {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 3rem;
  }
}

.mat-progress-spinner {
  position: absolute;
  z-index: 1000;
  top: 50%;
  left: 50%;
  margin: auto;
}

.mat-progress-spinner::ng-deep circle {
  stroke: #628C97;
}
