.background-image {
  min-height: 100vh;
  background-repeat: no-repeat;
  background-position: bottom right;
  background-attachment: fixed;
  background-size: 30%;
}

.container {
  width: 65.625%;
  margin: auto;
  margin-top: 4.375rem;
}
