<app-header (sidenavToggle)="sidenav.toggle()"
            (closeSidenav)="sidenav.close()"
            [menuIsActive]="sidenav.opened"></app-header>

<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #sidenav
               autoFocus="false">

    <div class="selectors">
      <app-profile></app-profile>
      <app-language-selection></app-language-selection>
    </div>

    <mat-divider></mat-divider>

    <mat-nav-list>
      <a *ngFor="let tab of tabs"
          class='tab'
          [matBadge]="tab.name==='Notifications' && notificationsCount > 0 ? notificationsCount : undefined"
          matBadgeSize="small"
          mat-list-item
          (click)="sidenav.close()"
          [routerLink]="tab.path"
          routerLinkActive="active">{{ tab.localizationKey | translate }}</a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content class="content">
    <div *ngIf="spinnerService.visibility | async"
        class="spinner-overlay">
      <mat-spinner mode="indeterminate"
                  [diameter]="70"
                  class="mat-progress-spinner">
      </mat-spinner>
    </div>
    <div class="container">
      <div class="title">
        {{ getLocalizationKey() | translate }}
      </div>
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
