.search-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 1.5rem;

  .main-search-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;

    .search-wrapper {
      width: 74.5%;
    }

    .select-wrapper {
      width: 24%;
    }
  }

  .filters-container {
    width: 100%;
    display: flex;
    justify-content: space-between;

    .filter-wrapper,
    .date-container {
      width: 24%;
    }

    .btn-container {
      width: 24%;
    }
  }
}
