.search-container {
  width: 100%;
  display: flex;
  flex-direction: column;

  .main-search-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1.7rem;

    .search-wrapper {
      width: 70%;
    }

    .select-wrapper {
      width: 25%;
    }
  }

  .filters-container {
    width: 100%;
    display: flex;
    justify-content: space-between;

    .filter-wrapper {
      width: 31%;
      padding: 0.5rem 0 0 0.5rem;
    }
  }
}
