<div class="field_container">
    <div class="search_and_mono">
        <div class="search">
            <app-search-ui></app-search-ui>
        </div>
        <div class="mono_select div_box_shadow">
            <app-mono-select></app-mono-select>
        </div>
    </div>
    <div class="multyple_selects">
        <div class="multyple_selects_inner div_box_shadow">
            <app-multy-select></app-multy-select>
        </div>
        <div class="multyple_selects_inner div_box_shadow">
            <app-multy-select></app-multy-select>
        </div>
        <div class="multyple_selects_inner div_box_shadow">
            <app-multy-select></app-multy-select>
        </div>
    </div>
</div>