@import '../../../../../styles.scss';

.chips-container {
  .mat-chip.mat-standard-chip {
    margin: 0.5rem 0.5rem 0.5rem 0;
    @include glass;
  }

  .chips-input {
    width: 7rem;

    &:focus {
      outline: none;
    }
  }
}

.list-input-container {
  width: 100%;

  mat-form-field {
    width: calc(100% - 8rem);
  }

  button {
    line-height: 3.25rem;
    font-size: 1rem;
    @extend .backgroundColor;
    vertical-align: top;
    float: right;
    width: 7rem;

    &:disabled {
      background-color: $color-white;
      @include glass;
    }
  }
}

@media (max-width: 650px) {
  .list-input-container mat-form-field {
    width: calc(100% - 5.5rem);
  }

  .list-input-container button {
    width: 5rem;
  }
}
