@import "../../../styles.scss";

.category {
  @include category-tags;
  border: 1px solid $color-blue-green;
  background-color: $color-blue-green;
  color: $color-white;
}

.category:hover {
  cursor: pointer;
}
