.category {
  max-width: max-content;
  display: flex;
  align-items: center;
  height: 1.625rem;
  border-radius: 0.3125rem;
  border: 1px solid #333;
  padding: 0 0.5rem;

  img {
    max-width: 80%;
    max-height: 80%;
    padding-right: 0.3rem;
  }
}

.category:hover {
  background: #9A90FE;
  color:#fff;
  border-color: #9A90FE;
  cursor: pointer;

  img {
    filter: invert(1);
  }
}
