<div class="card">
  <div class="card-header" [ngStyle]="{'background-image': 'url('+discountInfo.background+')'}">
    <div class="card-title">{{discountInfo.discount.vendor}}</div>
    <app-btn-favorite [isFavorite]="discountInfo.isFavorite"></app-btn-favorite>
  </div>

  <div class="card-content">
    <div class="category-and-tags">
      <app-category [discountCategory]="discountInfo.discount.category"></app-category>
      <app-tag *ngFor="let tag of discountInfo.discount.tags"
               [discountTag]="tag"></app-tag>
    </div>

    <div class="card-content-description">
      {{discountInfo.discount.title}}
    </div>
  </div>
</div>