@import "../../../styles.scss";

.card:hover {
  cursor: pointer;
}

.card {
  // margin: 0 .5rem .5rem 0;
  overflow: hidden;
  // width: 13rem;
  // height: 11rem;
  width: 90%;
  height: 90%;
  background: $color-white;
  box-shadow: $box-shadow;
  border-radius: $border-radius-small;
  display: inline-block;

  .card-header {
    height: 40%;
    background-size: cover;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: .4rem;

    .card-title {
      position: relative;
      max-height: fit-content;
      align-self: center;
      max-width: 80%;
      @include font-bold-vendor;
      font-size: #{$font-vendor * 0.9};
    }
    app-btn-favorite {
      position: relative;
      align-self: flex-start;
      margin-left: .3rem;
    }
  }

  .card-content {
    padding: 0 .4rem .2rem .4rem;

    .card-content-description {
      display: -webkit-box;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
      @include font-bold-discount;
      font-size: #{$font-title * 0.9};
    }

    .category-and-tags {
      display: flex;
      justify-content: flex-start;
      flex-wrap: wrap;
    }
  }
}
