@import "../../../styles.scss";

.card {
  overflow: hidden;
  width: 18.3125rem;
  height: 15.8125rem;
  background: $color-white;
  box-shadow: $box-shadow;
  border-radius: $border-radius-small;
  display: inline-block;

  .card-header {
    height: 8.375rem;
    background-image: url('../../../assets/images/card-backgrounds/bg-vendor-green.png');
    background-size: cover;

    .card-title {
      position: relative;
      max-height: fit-content;
      max-width: 80%;
      height: 1.5rem;
      top: 3.4375rem;
      left: 0.625rem;
      @include font-bold-vendor;
    }
    app-btn-favorite {
      position: relative;
      top: -1rem;
      left: 16rem;
    }
  }

  .card-content {
    padding: 0 0.625rem 0.625rem 0.625rem;

    .card-content-description {
      display: -webkit-box;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
      @include font-bold-discount;
    }

    .category-and-tags {
      display: flex;
      justify-content: flex-start;
    }
  }
}
