@import "../../../styles.scss";

.card:hover {
  cursor: pointer;
}

.card {
  overflow: hidden;
  width: 100%;
  height: 100%;
  background: $color-white;
  box-shadow: $box-shadow;
  border-radius: $border-radius-small;

  .card-header {
    height: 40%;
    @include glass;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: .5rem;

    .card-title {
      position: relative;
      max-height: fit-content;
      align-self: center;
      max-width: 80%;
      @include font-bold-vendor;
      font-size: #{$font-vendor * 0.9};
    }
    .btn {
      position: relative;
      align-self: flex-start;
      margin-left: .3rem;
    }
  }

  .card-content {
    padding: 0 .5rem .5rem .5rem;
    background: $color-white;
    height: calc(60% - 1.5rem);

    .card-content-description {
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
      @include font-bold-discount;
      font-size: #{$font-title * 0.9};
    }

    .category-and-tags {
      display: flex;
      justify-content: flex-start;
    }

    .additional-tags {
      margin-left: -.15rem;
      display: flex;
      align-items: center;
      font-size: 1rem;
      line-height: 1rem;
      color: $color-blue-green;

      span {
        font-size: 1.1rem;
      }
    }
  }
}
