@import "../../../styles.scss";

.discount-card:hover {
  cursor: pointer;
}

.discount-card {
  overflow: hidden;
  width: 100%;
  height: 100%;
  box-shadow: $shadow-gray;
  border-radius: $border-radius-small;
  @include glass;

  .discount-card-header {
    height: 40%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0.5rem;

    .discount-card-title {
      position: relative;
      max-height: fit-content;
      align-self: center;
      flex-grow: 1;
      font-size: #{$font-vendor * 0.9};
      font-weight: 500;
    }

    .discount-card-badge{
      background-color: #4dd964;
      opacity: 0.9;
      color: white;
      border-radius: $border-radius-small;
      padding: 0.1rem 0.3rem;
      margin-top: 0.2rem;
    }

    .btn {
      position: relative;
      align-self: flex-start;
      margin-left: 0.3rem;
    }

    .btn-view {
      @include btn-icon;
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      align-self: flex-start;
      align-items: center;
      color: $color-dark-gray;

      span {
        font-size: 1rem;
        color: $color-dark-gray;

        &:hover {
          cursor: auto;
        }
      }
    }
  }

  .discount-card-content {
    padding: 0 0.5rem 0.5rem 0.5rem;
    height: calc(60% - 1.5rem);

    .discount-card-content-description {
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
      font-size: 0.8rem;
    }

    .category-and-tags {
      display: flex;
      justify-content: flex-start;
      width: 100%;

      app-category, app-tag {
        max-width: calc(50% - 1rem);
      }
    }

    .additional-tags {
      margin-left: -0.15rem;
      display: flex;
      align-items: center;
      font-size: 1rem;
      line-height: 1rem;
      @extend .textColor;

      span {
        font-size: 1.1rem;
      }
    }
  }
}
