@import "../../../styles.scss";

.card:hover {
  cursor: pointer;
}

.card {
  overflow: hidden;
  width: 100%;
  height: 100%;
  background: $color-white;
  box-shadow: $box-shadow;
  border-radius: $border-radius-small;
  display: inline-block;

  .card-header {
    background-size: cover;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: .5rem;

    .card-title {
      position: relative;
      max-height: fit-content;
      align-self: center;
      max-width: 80%;
      @include font-bold-vendor;
      font-size: #{$font-vendor * 0.9};
    }
    .btn {
      position: relative;
      align-self: flex-start;
      margin-left: .3rem;
    }

    .btn-delete {
      @include btn-icon;

      span {
        color: $color-red;
      }
    }

    .btn-view {
      @include btn-icon;
      display: flex;
      flex-direction: row;
      align-items: center;
      color: $color-white;

      span {
        font-size: 1rem;
      }
    }
  }

  .card-content {
    margin-bottom: .5rem;
    padding: 0 .5rem;

    .card-content-description {
      display: -webkit-box;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
      @include font-bold-discount;
      font-size: #{$font-title * 0.9};
    }

    .category-and-tags {
      display: flex;
      justify-content: flex-start;
    }

    .additional-tags {
      margin-left: -.15rem;
      display: flex;
      align-items: center;
      color: $color-grey;
    }
  }
}
