@import "src/styles.scss";

@media screen and (min-width: 769px) {
  .side-nav-backdrop.cdk-overlay-backdrop {
    display: none;
  }

  .side-nav.cdk-overlay-pane {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .side-nav-backdrop.cdk-overlay-backdrop {
    width: calc(100% - 50vw);
  }

  .side-nav.cdk-overlay-pane {
    width: 50vw;

    .navigation {
      display: flex;
      flex-direction: column;

      .nav-tabs {
        display: flex;
        flex-direction: column;
      }
    }
  }
}
