<div mat-dialog-content>
  <nav class='navigation'>
    <div class="person-content">
      <app-profile></app-profile>
      <app-language-selection></app-language-selection>
      <app-select-background></app-select-background>
    </div>

    <nav mat-tab-nav-bar>
      <a class='tab'
         mat-tab-link
         *ngFor="let tab of tabs"
         [routerLink]="tab.path"
         routerLinkActive
         #rla="routerLinkActive"
         [active]="rla.isActive">{{ tab.localizationKey | translate }}</a>
    </nav>
  </nav>
</div>
