<<<<<<< HEAD
.lang-select-button img {
  height: 2.2rem;
  width: 2.2rem;
=======
.lang-select-button {
  height: 2.25rem;
  width: 2.25rem;
>>>>>>> parent of 017bcc7... HEH-UI-20: Add localization selection to header
  border-radius: 1.125rem;

  img {
    height: 2.25rem;
    width: 2.25rem;
    border-radius: 1.125rem;
  }

  .mat-ripple .mat-button-ripple {
    padding: 0;
  }
}

.lang-select-button:hover {
  cursor: pointer;
}

<<<<<<< HEAD
.lang-item {
  display: flex;

  img {
    height: 2.2rem;
    width: 2.2rem;
    border-radius: 1.125rem;
  }
}

.mat-menu-content {
  display: block;
}

.menu-items {
  margin-top: .2rem;
}

.mat-menu-panel .mat-menu-content {
  width: 9.375rem;
=======
.menu-items {
  .lang-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;

    img {
      height: 2.25rem;
      width: 2.25rem;
      border-radius: 1.125rem;
      margin-right: 0.5rem;
    }
  }
}

.menu-items:hover .lang-item {
  cursor: pointer;
}

.cdk-overlay-container .cdk-overlay-pane {
  margin-top: 0.6rem;
  transition: 0.2s;

  .mat-menu-panel .mat-menu-content {
    width: 9.375rem;
    padding: 0;

    .lang-select-option {
      padding: 0 1rem;
    }
  }
>>>>>>> parent of 017bcc7... HEH-UI-20: Add localization selection to header
}
