.lang-select-button img{
  height: 2.2rem;
  width: 2.2rem;
  border-radius: 1.125rem;
}

.lang-select-button:hover {
  transform: scale(1.1);
  cursor: pointer;
}

  .lang-item {
    display: flex;

    img {
      height: 2.2rem;
      width: 2.2rem;
      border-radius: 1.125rem;
    }
  }

.mat-menu-content {
  display: block; 
  
}

.mat-menu-content::before {
  content: '';
  position: absolute;
  right: 1rem;
  top: -1rem;
  border: .8rem solid transparent;
  border-bottom: .8rem solid #ffffff;
}

  .mat-menu-panel .mat-menu-content {
    width: 9.375rem;
  }
