

.search{
    position: relative;
    width: 100%;
    background: #cccccc;
}
.search_input{
    width: 100%;
    padding-left:2rem;
    box-shadow: 0 0 1rem rgba(144, 108, 230, 0.5);
    border: none;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 1rem;
    line-height: 3.2rem;
    color: rgba(17, 17, 17, 0.48);
    border-radius: 2%;
}
.search_input:active, .search_input:hover, .search_input:focus {
    outline: 0;
    outline-offset: 0;
}
.search_img{
    position: absolute;
    top: 1.1rem;
    left: 0.3rem;
    width: 1.2rem;
    height: 1.2rem;
}