<div class="multi-select-container">
  <mat-form-field>
    <mat-label>{{label}}</mat-label>
    <mat-select [formControl]="multiSelectControl" multiple>

      <mat-select-trigger>
        <mat-chip-list>
          <mat-chip *ngFor="let option of multiSelectControl.value"
                    [removable]="true" (removed)="onOptionRemoved(option)">
            {{ option }}
            <mat-icon matChipRemove>cancel</mat-icon>
          </mat-chip>
        </mat-chip-list>
      </mat-select-trigger>

      <mat-option *ngFor="let option of options" [value]="option">{{option}}</mat-option>
    </mat-select>
  </mat-form-field>
</div>
