.example-chip-list {
    width: 100%;

  }
.mat-form-field-appearance-legacy .mat-form-field-underline {
    bottom: 0.2rem;
    height: 0;
    background-color: #ffffff;
}
.mat-form-field-appearance-legacy .mat-form-field-wrapper{
  padding-bottom: 0;
}
.mat-chip{
  font-size: 0.8rem;
}
.mat-input-element{
  caret-color: #ffffff;
}
.input.mat-chip-input{
  height: 0.1rem;
}
