<div class="favorite-card">
  <div [style.background]="'linear-gradient('+ favoriteInfo.background +')'">
    <div class="favorite-vendor">
      <div class="card-title">
        {{ favoriteInfo.vendorName}}
      </div>
    </div>
  </div>

  <div class="card-content">
    <div class="discount-info">
      <div class="category-and-tags">
        <app-category [categoryId]="favoriteInfo.categoryId"></app-category>
        <app-tag *ngFor="let tag of favoriteInfo.tagsIds"
                 [tagId]="tag"></app-tag>
        <div class="discount-detail-promo-code">{{favoriteInfo.promoCode}}</div>
      </div>

      <div class="discount-name line-clamp">{{ favoriteInfo.conditions }}</div>
      <div class="discount-note line-clamp">{{ favoriteInfo.note }}</div>
    </div>
  </div>

  <div class="card-actions">
    <i class="material-icons" (click)="openEditNoteModal()">edit</i>
    <i class="material-icons"
       (click)="deleteFavorite()">clear</i>
  </div>
</div>
