<div class="favorite-card">
  <div [style.background]="'linear-gradient('+ favoriteInfo.background +')'">
    <div class="favorite-vendor">
      <div class="card-title">
        {{ favoriteInfo.favorite.vendorName}}
      </div>
    </div>
  </div>

  <div class="card-content">
    <div class="discount-info">
      <div class="category-and-tags">
        <app-category [categoryId]="favoriteInfo.favorite.categoryId"></app-category>
        <app-tag *ngIf="favoriteInfo.tagsIds.length"
                 [tagId]="favoriteInfo.tagsIds[0]"></app-tag>
      </div>
      <div class="discount-name line-clamp">{{ favoriteInfo.favorite.title }}</div>
      <div class="discount-note line-clamp">{{ favoriteInfo.favorite.feedback }}</div>
    </div>
  </div>

  <div class="card-actions">
    <i class="material-icons" (click)="openEditNoteModal()">edit</i>
    <i class="material-icons">clear</i>
  </div>
</div>
