@import "../../../styles.scss";

.favorite-card {
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  height: 5.7rem;
  box-shadow: $shadow-gray;
  border-radius: 5px;
  margin-bottom: 1rem;
  @include glass;

  div {
    display: flex;

    .favorite-vendor {
      box-sizing: border-box;
      min-width: 14rem;
      padding: 1rem;

      .card-title {
        max-width: fit-content;
        align-self: center;
        @include font-bold-vendor;
      }
    }
  }

  .card-content {
    display: flex;
    flex-grow: 1;
    justify-content: space-between;
    padding: 0.1rem 0.5rem 0.3rem 0.5rem;

    .discount-info {
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      .category-and-tags {
        display: flex;
        justify-content: flex-start;
        margin-bottom: -0.5rem;

        .discount-detail-promo-code {
          @include font-bold-discount;
          margin-top: $margin-half;

          &::before {
            content: 'Promocode: ';
            font-weight: 400;
          }
        }
      }

      .discount-name {
        @include font-bold-discount;
        line-height: 1.5rem;

        :before {
          content: 'Promocode';
        }
      }

      .discount-note {
        display: flex;
        flex-direction: row;
        font-size: $font-content;
      }

      .discount-note::before {
        content: 'Note:';
        margin-right: 0.2rem;
      }

      .line-clamp {
        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
  }

  .card-actions {
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    padding: 0.5rem;

    .material-icons {
      color: $color-black;
      user-select: none;

      &:hover {
        cursor: pointer;
        @extend .textColor;
      }

      &:last-child {
        opacity: .5;
        color: $color-red;

        &:last-child:hover {
          opacity: 1;
        }
      }
    }
  }
}
