<div class="favorite-card">
    <div class="favorite-vendor" [ngStyle]="{'background-image': 'url('+discountInfo.bgVendor+')'}">
        <div class="card-title">
            {{ discountInfo.discountVendorName}}
        </div>
    </div>
    <div class="card-content">
        <div class="discount-info">
            <div class="category-and-tags">
                <div class="category">
                    <img src="../../../assets/images/svg-icons/categories.svg">
                    {{ discountInfo.discountCategory }}
                </div>
                <div class="tag">
                    {{ discountInfo.discountTag }}
                </div>
            </div>
            <div class="card-content-description">
                <div class="discount-name line-clamp">
                    {{ discountInfo.discountName }}
                </div>
                <div class="discount-note line-clamp">
                    {{ discountInfo.discountNote }}
                </div>
            </div>
        </div>
        <div class="card-actions">
            <i class="material-icons" (click)="editNote()">
                edit
            </i>
            <i class="material-icons warn-color">
                delete
            </i>
        </div>
    </div>
</div>