@import '../../../styles.scss';

.confirm-modal-backdrop.cdk-overlay-backdrop {
  width: 100%;
  height: 100%;
}

.cdk-global-overlay-wrapper {
  justify-content: center !important;

  .confirm-modal.cdk-overlay-pane {
    width: 18rem;
    height: 8rem;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
    position: absolute;

    .mat-dialog-container {
      padding: 1rem;
      border-radius: $border-radius-small;
      background: rgba(255, 255, 255, 0.8);
      backdrop-filter: blur(10px);
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      .mat-dialog-title {
        margin: 0 0 10px;
      }

      .confirm-buttons {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        padding: 0;

        button:last-child {
          background: $color-blue-green;
          color: $color-white;

          &:disabled {
            background-color: rgba(0, 0, 0, .12);
            color: rgba(0, 0, 0, .26);
          }
        }
      }
    }
  }
}
