@import "../../../styles.scss";

.tag {
  @include category-tags;
  background-color: $color-blue-green;
  color: $color-white;
}

.tag:hover {
  background-color: $color-violet;
  cursor: pointer;
}
