@import "../../../styles.scss";

.tag {
  max-width: fit-content;
  height: 1.75rem;
  line-height: 1.75rem;
  border-radius: 0.3rem;
  background-color: $color-grey;
  padding: $padding-category-tag;
  color: $color-white;
  margin: $margin-category-tag;
  display: inline-block;
}

.tag:hover {
  background-color: $color-violet;
  cursor: pointer;
}
