<app-input-search [(ngModel)]="searchData.searchNotificationText"
                  (keydown.enter)="applyNotificationSearch()"></app-input-search>

<div class="table-container"
     infiniteScroll
     [infiniteScrollDistance]="2"
     [infiniteScrollThrottle]="100">
  <div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource"
           matSort matSortActive="created" matSortDisableClear matSortDirection="desc">

      <!-- Date Column -->
      <ng-container matColumnDef="date">
        <th mat-header-cell *matHeaderCellDef>{{ 'event-notification.date' | translate }}</th>
        <td mat-cell *matCellDef="let row"> {{row.date | date: 'dd MMMM yyyy hh:mm'}} </td>
      </ng-container>

      <!-- Type Column -->
      <ng-container matColumnDef="type">
        <th mat-header-cell *matHeaderCellDef>{{ 'event-notification.type' | translate }}</th>
        <td mat-cell *matCellDef="let row" [style.description]="row.type"> {{row.type}} </td>
      </ng-container>

      <!-- Title Column -->
      <ng-container matColumnDef="title">
        <th mat-header-cell *matHeaderCellDef>{{ 'event-notification.title' | translate }}</th>
        <td mat-cell *matCellDef="let row">{{ row.title }}</td>
      </ng-container>

      <!-- Message Column -->
      <ng-container matColumnDef="message">
        <th mat-header-cell *matHeaderCellDef>{{ 'event-notification.message' | translate }}</th>
        <td class="cell-message"
            mat-cell
            *matCellDef="let row"
            (click)="openNotificationDetailModal(row.id)"> {{row.message}} </td>
      </ng-container>


      <tr class="table-sticky" mat-header-row *matHeaderRowDef="displayedColumns;"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
  </div>
</div>
