@import "../../../styles.scss";

.mat-elevation-z8 {
  position: relative;
  z-index: 0;

  table {
    margin: 1.5rem 0;
    width: 100%;
    background: transparent;

    th.mat-header-cell {
      text-transform: uppercase;
      text-align: left;
      font-weight: bold;
      @extend .backgroundColor;
      color: white;
      z-index: 2;
    }

    th.mat-header-cell:first-of-type {
      padding-right: 1.5rem;
      outline: none;
    }

    th.mat-header-cell:nth-child(3), td.mat-cell:last-of-type {
      padding-left: 0.2rem;
    }

    td.mat-cell:first-of-type {
      padding-right: 0.2rem;
    }

    td.mat-cell:nth-child(3), td.mat-cell:nth-child(4) {
      padding: 0 0.2rem;
    }

    thead th {
      position: sticky;
      top: 3rem;
    }

    td, .cell-message{
      font-weight: bold;
      background: rgba(255, 255, 255, 0.8);
      cursor: pointer;
    }

    .is-read {
      font-weight: normal;
      cursor: default;
    }
  }
}

.mat-checkbox-checked.mat-accent .mat-checkbox-background,
.mat-checkbox-indeterminate.mat-accent .mat-checkbox-background {
  @extend .backgroundColor;
}

@media screen and (max-width: 768px) {
  .mat-elevation-z8 {
    table {
      margin-top: 1rem;

      th.mat-header-cell {
        font-size: 0.7rem;
      }

      th.mat-header-cell:first-of-type {
        padding: 0 0.5rem;
      }

      td.mat-cell {
        font-size: 0.7rem;
        line-height: 0.8rem;
      }

      td.mat-cell:first-of-type {
        padding-left: 0.5rem;
      }

      td.mat-cell:last-of-type {
        padding: 0.2rem 0.4rem 0.2rem 0.2rem;
      }
    }
  }
}

@media screen and (max-width: 360px) {
  .mat-elevation-z8 {
    table {
      margin-top: 0.5rem;
    }

    .mat-header-row{
      height: 2.5rem;
      top: 4rem;
    }

    th.mat-header-cell, td.mat-cell {
      font-size: 0.4rem;
    }
  }
}

@media screen and (max-width: 320px) {
  .login-wrapper .login-form {
    padding: 2rem;
  }
}
