<app-input-search [(ngModel)]="searchData.searchNotificationText"
                  (keydown.enter)="applyNotificationSearch()"></app-input-search>

<div class="table-container"
     infiniteScroll
     [infiniteScrollDistance]="2"
     [infiniteScrollThrottle]="100"
     (scrolled)="onScrollDown($event)">
  <div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource"
           matSort matSortActive="created" matSortDisableClear matSortDirection="desc">

      <!-- Read notification ckeck-box -->
      <ng-container matColumnDef="read">
        <th mat-header-cell
            *matHeaderCellDef>
              <div class="read-cell">
                <mat-checkbox [checked]="!notificationCount"
                              [disabled]="notificationCount"
                              matTooltip="Read All"
                              (change)="readOneOrAllNotification('all')">
                </mat-checkbox>
                {{ 'event-notification.read' | translate }}
              </div>
            </th>
        <td mat-cell
            *matCellDef="let row"
            [class.is-read]="row.isRead">
          <mat-checkbox [checked]="row.isRead"
                        [disabled]="row.isRead"
                        (change)="readOneOrAllNotification('one', row.id)">
          </mat-checkbox>
        </td>
      </ng-container>

      <!-- Date Column -->
      <ng-container matColumnDef="date">
        <th mat-header-cell *matHeaderCellDef>{{ 'event-notification.date' | translate }}</th>
        <td mat-cell
            *matCellDef="let row"
            [class.is-read]="row.isRead"
            (click)="readOneOrAllNotification('one', row.id, row.isRead)"> {{row.date | date: 'dd MMM yyyy hh:mm'}} </td>
      </ng-container>

      <!-- Type Column -->
      <ng-container matColumnDef="type">
        <th mat-header-cell *matHeaderCellDef>{{ 'event-notification.type' | translate }}</th>
        <td mat-cell
            *matCellDef="let row"
            [class.is-read]="row.isRead"
            (click)="readOneOrAllNotification('one', row.id, row.isRead)">
          <app-action-event [type]="row.type.toLowerCase()"></app-action-event>
        </td>
      </ng-container>

      <!-- Title Column -->
      <ng-container matColumnDef="title">
        <th mat-header-cell *matHeaderCellDef>{{ 'event-notification.title' | translate }}</th>
        <td mat-cell
            *matCellDef="let row"
            [class.is-read]="row.isRead"
            (click)="readOneOrAllNotification('one', row.id, row.isRead)">{{ row.title }}</td>
      </ng-container>

      <!-- Message Column -->
      <ng-container matColumnDef="message">
        <th mat-header-cell *matHeaderCellDef>{{ 'event-notification.message' | translate }}</th>
        <td class="cell-message"
            mat-cell
            [class.is-read]="row.isRead"
            *matCellDef="let row"
            (click)="readOneOrAllNotification('one', row.id, row.isRead)"> {{row.message}} </td>
      </ng-container>
      <tr class="table-sticky" mat-header-row *matHeaderRowDef="displayedColumns;"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
  </div>
</div>
