.header {
  background: linear-gradient(90.1deg, #8579FF 15.04%, #D1E6F1 71.85%);
  opacity: 1;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 3;

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 1rem;

    .header-title {
      font-size: 1.3rem;
      font-weight: bold;
      color: #F3F3F3;
      text-transform: uppercase;
    }

    .header-title:hover {
      cursor: pointer;
    }
  }
}

.navigation {
  display: flex;

  .mat-tab-header-pagination-controls-enabled .mat-tab-header-pagination {
    display: none;
  }

  .person {
    display: flex;
    align-items: center;
    margin-left: 2rem;

    .person-info a {
      display: flex;
      flex-direction: column;
      text-decoration: none;

      .person-name a {
        font-size: 1.6rem;
        font-weight: normal;
        color: #303030;
      }
    }

    .person-pic {
      display: flex;

      img {
        width: 2.2rem;
        height: 2.2rem;
        margin-right: 0.5rem;
        align-items: center;
      }
    }

    .profile-icon {
      margin-left: 1.5rem;
    }

    .profile-icon:hover {
      transform: scale(1.1);
      cursor: pointer;
    }
  }
}

.mat-tab-links .tab {
  min-width: 1.5rem;
  color: #303030;
}

.mat-menu-content {
  display: flex;
  flex-direction: column;
  width: 16rem;
  color: #333333;
}

.profile-menu {
  margin-top: .5rem;
}

button.mat-menu-item {
  display: flex;
  align-items: center;
}

.mat-menu-item {
  display: flex;
  align-items: center;
  font-size: .8rem;

  img {
    width: 2.2rem;
    height: 2.2rem;
    margin-right: .8rem;
  }
}
