<header class='header'>
  <div class='headerTitle' style="font-weight: bold">happy exadel hours</div>

  <mat-tab-group>
    <mat-tab label="Discounts"></mat-tab>
    <mat-tab label="Favorites"></mat-tab>
    <mat-tab label="Moderator"></mat-tab>
    <mat-tab label="Admin"></mat-tab>
  </mat-tab-group>

  <div class="person">
    <div class='personInfo'>
      <a class='personName' href="#">Michael Browk</a>
      <a class='personPlace' href="#">Belarus, Minsk</a>
    </div>
    <div class="personPic">
      <img class='profileIcon' src="../../../assets/img/header_profile.svg" alt="" mat-button
        [matMenuTriggerFor]="beforeMenuProfil">
      <mat-menu #beforeMenuProfil="matMenu" xPosition="before">
        <button mat-menu-item><img src="../../../assets/img/header_menu_profile.svg" alt="">Profile</button>
        <button mat-menu-item><img src="../../../assets/img/header_menu_logout.svg" alt="">Logout</button>
      </mat-menu>
      <img class='switchLang' src="../../../assets/img/header_langEng.svg" alt="" mat-button
      [matMenuTriggerFor]="beforeMenuLang">
      <mat-menu  #beforeMenuLang="matMenu" xPosition="before">
        <button mat-menu-item><img src="../../../assets/img/header_langEng.svg" alt="">English</button>
        <button mat-menu-item><img src="../../../assets/img/header_langRus.svg" alt="">Русский</button>
      </mat-menu>
    </div>
  </div>
</header>
