.header {

  background: linear-gradient(90.1deg, #8579FF 15.04%, #D1E6F1 71.85%);
  opacity: .82;
  text-decoration: none;

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 1rem;
  }

  .header-title {
    grid-area: 1;
    text-transform: uppercase;
    font-size: 1.3rem;
    color: #F3F3F3;
    font-weight: bold;
  }

  // @include personNameMixin;
}

.person {
  display: flex;
  align-items: center;
  margin-left: 2rem;

  .personInfo a {
    display: flex;
    flex-direction: column;
    text-decoration: none;

    .personName a {
      color: let(--headerProfileColor);
      font-weight: normal;
      font-size: 1.6rem;
    }

    .personPic img {
      margin-left: 0.3rem;
      width: 2rem;
      height: 2rem;
    }
  }

  .personPic img {
    align-items: center;
    margin-left: 0.3rem;
    width: 2.4rem;
    height: 2.4rem;
  }

  .profileIcon:hover {
    transform: scale(1.2);
    cursor: pointer;
  }

  .switchLang:hover {
    transform: scale(1.2);
    cursor: pointer;
  }
}

.mat-menu-item {
  display: flex;
  align-items: center;
}

:host ::ng-deep .mat-tab-label {
  min-width: 100px;
  padding: 0 1rem;
  color: #808080;
}

.navigation {
  display: flex;
  flex-direction: row;
}
