<header class='header'>
  <div class="container">
    <div class='header-title' (click)="goTodiscounts()">happy exadel hours</div>
    <nav class="navigation">
      <mat-tab-group animationDuration="0" *ngFor="let item of tab">
        <mat-tab class='tab-item' label="{{item.discounts}}"></mat-tab>
        <mat-tab class='tab-item' label="{{item.favorites}}"></mat-tab>
        <mat-tab class='tab-item' label="{{item.moderator}}"></mat-tab>
        <mat-tab class='tab-item' label="{{item.admin}}"></mat-tab>
      </mat-tab-group>

      <div class="person">
        <div class='person-info'>
          <a class='person-name' href="/profile" (click)="goToPerson($event)">{{user.username}}</a>
          <a class='person-place' href="#">{{user.location}}</a>
        </div>
        <div class="person-pic">
          <img class='profile-icon' src="{{user.userphoto}}" alt="profile-icon" mat-button [matMenuTriggerFor]="beforeMenuProfil">
          <mat-menu class="profile-menu" #beforeMenuProfil="matMenu" xPosition="before">
            <button class="btn-person btn-primary" (click)="goToPerson()" mat-menu-item><img
                src='{{button.buttonsphotoProfile}}' alt="btn-person">{{button.buttonsnameProfile}}</button>
            <div class="line"></div>
            <button class='btn-person btn-primary' (click)="goToLogout()" mat-menu-item><img
                src="{{button.buttonsphotoLogout}}" alt="btn-person">{{button.buttonsnameLogout}}</button>
          </mat-menu>
        </div>
      </div>
    </nav>
  </div>
</header>
