@import "../../../styles.scss";
@import '~hamburgers/_sass/hamburgers/hamburgers.scss';

.header {
  @include glass;
  opacity: 1;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 4;

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 1rem;

    .hamburger {
      display: none;
    }

    .header-title {
      font-size: 1.3rem;
      font-weight: bold;
      text-transform: uppercase;
      color: $color-black;
    }

    .header-title:hover {
      cursor: pointer;
    }
  }
}

.navigation {
  display: flex;

  .mat-tab-header-pagination-controls-enabled .mat-tab-header-pagination {
    display: none;
  }

  .person-content {
    display: flex;
    align-items: center;
    margin-left: 2rem;
  }
}

@media screen and (max-width: 768px) {
  .hamburger {
    display: flex;
  }
}
