<div mat-dialog-content>
  <div class="header"
       [ngStyle]="{'background-image': 'url('+data.background+')'}">
    {{ data.discount.vendorName }}
  </div>

  <div class="edit-field">
    <div class="discount-name">
      {{ data.discount.title }}
    </div>

    <mat-form-field>
      <mat-label>{{ 'favorites.notes' | translate }}</mat-label>
      <textarea matInput
                type="text"
                [(ngModel)]="data.discount.feedback"></textarea>
    </mat-form-field>

    <div class="edit-btn">
      <button class="btn-cancel"
              mat-button
              mat-dialog-close>{{ 'favorites.cancel' | translate }}</button>
      <button class="btn-submit"
              mat-raised-button>{{ 'favorites.subm' | translate }}</button>
    </div>
  </div>
</div>
