<div mat-dialog-content>
  <div class="edit-wrapper">
    <div class="edit-header">
      {{ favorite.vendorName }}
    </div>

    <div class="edit-field">
      <div class="discount-name">
        {{ favorite.conditions }}
      </div>

      <mat-form-field appearance="outline">
        <mat-label>{{ 'favorites.notes' | translate }}</mat-label>
        <textarea matInput
                  type="text"
                  [(ngModel)]="favorite.note"></textarea>
      </mat-form-field>
    </div>

    <div class="edit-btn">
      <button class="btn-cancel"
              mat-button
              mat-dialog-close>{{ 'favorites.cancel' | translate }}</button>
      <button class="btn-submit"
              mat-raised-button>{{ 'favorites.subm' | translate }}</button>
    </div>
  </div>
</div>
